body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url(../images/wolfbackground.png) center center; }

img {
  display: block; }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

.center {
  max-width: 1548px;
  margin: auto; }

.btn {
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  border-radius: 23px;
  margin-top: 10px;
  transition: 0.5s; }
  .btn:hover {
    background: #ec3a22;
    margin-top: -1px; }

.home-page {
  background: url(../images/background.jpg) center center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding-top: 30px;
  box-sizing: border-box; }
  .home-page .left {
    float: left; }
    .home-page .left img {
      height: 82px; }
  .home-page ul {
    float: right;
    margin: 0;
    padding: 0; }
    .home-page ul li {
      list-style: none;
      float: left;
      margin-left: 22px; }
      .home-page ul li a {
        display: block;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        height: 42px;
        line-height: 42px; }
        .home-page ul li a:hover {
          color: #ec3a22; }
      .home-page ul li .active {
        border-bottom: 2px solid #ec3a22; }
        .home-page ul li .active:hover {
          cursor: default;
          color: #fff; }
  .home-page .hidden-menu {
    float: right;
    color: #fff;
    font-size: 22px;
    display: none; }
  .home-page .outer-header {
    width: 1548px;
    margin: auto;
    position: relative; }
    .home-page .outer-header header {
      position: absolute;
      top: 258px;
      left: 0; }
      .home-page .outer-header header h2 {
        margin: 0;
        font-size: 48px;
        color: #fff; }
  .home-page .outer-wolf {
    width: 1548px;
    margin: auto;
    position: relative; }
    .home-page .outer-wolf .wolf {
      position: absolute;
      top: 320px;
      right: 10%; }
    .home-page .outer-wolf img {
      height: 240px; }

@media (max-width: 1548px) {
  .home-page nav, .home-page .outer-header header {
    padding: 0 20px; } }
@media (max-width: 690px) {
  .home-page nav ul {
    transition: 1s;
    float: none;
    position: absolute;
    top: 75px;
    left: -200%;
    width: 100%; }
    .home-page nav ul li {
      float: none;
      display: block;
      margin-left: 0;
      text-align: center; }
  .home-page nav .shown-ul {
    left: 0; }
  .home-page nav .hidden-menu {
    display: block; }
  .home-page nav .hidden-color-changed {
    color: #ed3d21; } }
main .center {
  background: #eef1f2;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.8);
  height: 90vh;
  margin-top: -110px;
  position: relative; }
  main .center h2 {
    position: absolute;
    left: 44%;
    top: 10%;
    font-size: 42px;
    font-weight: 700;
    color: #333; }
    main .center h2 span {
      color: #ec3a22; }
  main .center .left {
    width: 50%;
    height: 100vh;
    border-right: 2px solid #ccc;
    padding: 0 20px;
    box-sizing: border-box;
    float: left;
    text-align: center; }
    main .center .left p {
      margin: 275px 0 0 0;
      font-size: 16px;
      color: #727272; }
    main .center .left .btn {
      border-color: #333;
      margin-top: 120px;
      background: #ec3a22; }
      main .center .left .btn:hover {
        color: #333;
        margin-top: 112px;
        background: #eef1f2; }
  main .center .right {
    width: 50%;
    float: right; }

@media (max-width: 1548px) {
  main {
    padding: 0 20px; } }

/*# sourceMappingURL=style.css.map */
