// global start

$primary-color:#ec3a22;
$secondary-color:#eef1f2;
$primary-text-color:#333;
$secondary-text-color:#727272;
body{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    background: url(../images/wbg2.png) center center;
}

img{
    display: block;
}

.clearfix::after{
    content: '';
    clear: both;
    display: block;
}


.center{
    max-width: 1548px;
    margin: auto;
}

.btn{
    border: 1px solid #fff;
    color: #fff;
    font-size: 18px;
    display: inline-block;
    text-decoration: none;
    height: 46px;
    line-height: 46px;
    padding:0 15px;
    border-radius: 23px;
    margin-top: 10px;
    transition: 0.5s;

    &:hover{
    
       background: $primary-color;
        margin-top: -1px;
    }
}

// home-page start


.home-page{
    background: url(../images/BG.png) center center;
    height: 100vh;
    width: 100%;
    background-size: cover;
    padding-top: 30px;
    box-sizing: border-box;


    .left{
        float: left;
    

        img{
            height: 82px;
        }
    }

    ul{
        float: right;
        margin: 0;
        padding: 0;

        li{
            list-style:none;
            float: left;
            margin-left: 22px;

            a{
                display: block;
                font-size: 18px;
                color: #fff;
                font-weight: 400;
                text-decoration: none;
                height: 42px;
                line-height: 42px;

                &:hover{
                    color: $primary-color;
                }
            }

            .active{
                border-bottom: 2px solid $primary-color;
                
                &:hover{
                    cursor: default;
                    color: #fff;

                }
            }
        }
    }

    .hidden-menu{
        float: right;
        color:#fff;
        font-size: 22px;
        display: none;
    }

    .outer-header{
        max-width: 1548px;
        margin: auto;
        position: relative;
        header{
            position: absolute;
            top:258px;
            left:0;
    
            h2{
                margin: 0;
                font-size: 48px;
                color: #fff;
    
            }
    
        
        }
    }



}


@media(max-width:1548px){
    .home-page{
        nav , .outer-header header{
            padding:0 20px;
        }
    }
    
    
}

@media(max-width:690px){
    .home-page{
        nav{
            
            ul{
                transition:1s;
                float: none;
                position: absolute;
                top: 75px;
                left: -200%;
                width: 100%;
                li{
                    float: none;
                    display: block;
                    margin-left: 0;
                    text-align: center;
                }
                
            }
           .shown-ul{
           left:0;
       }
            
            .hidden-menu{
                display: block;
            }
            .hidden-color-changed{
                color: #ed3d21;
                
            }

            
        }
    }
}


@media(max-width:450px){
    .home-page{
        .outer-header{
            header{
                top:200px;
                h2{
                    font-size: 32px;
                }
            }
        }
    }
}

@media(max-width:330px){
    .home-page{
        .outer-header{
            header{
                h2{
                    font-size: 28px;
                }
            }
        }
    }
}

// home-page ends

// main starts

main, .services , .team{

    .center{
        position: relative;
        z-index: 10000;
        background: $secondary-color;
        box-shadow:0px 14px 20px 0px rgba(0, 0, 0, 0.8);
        -webkit-box-shadow:0px 14px 20px 0px rgba(0, 0, 0, 0.8);
        margin-top: -110px;
        padding-bottom: 172px;
        padding-top: 120px;
        
        
        h2{
            
            text-align: center;
            font-size: 42px;
            font-weight: 700;
            color: $primary-text-color;
            span{
                color: $primary-color;
            }
        }
    }
}


main{
    
    .center{

        .cover{
            margin-top: 55px;
        }

        .left{
            max-width: 50%;
            border-right:2px solid #ccc;
            padding:0 20px;
            box-sizing: border-box;
            float: left;
            text-align: center;

            p{
                font-size: 16px;
                color:$secondary-text-color;
            }

            .btn{
                border-color: $primary-text-color;
                margin-top: 114px;
                background: $primary-color;
                &:hover{
                    color: $primary-text-color;
                    background: $secondary-color;
                }
            }
        }

        .right{
            max-width: 50%;
            float: right;
            padding:0 20px;
            box-sizing: border-box;
          
            .banner-carousel{
                
                img{
                    width: 100%;
                }

                .owl-nav{

                    button{
                        width: 48px;
                        height: 48px;
                        
                        span{
                           font-size: 40px;
                           color: #fff;
                           font-weight: 400;
                         
                        }

                        &:focus{
                            outline: 0;
                        }
                    }

                    .owl-prev{
                        position: absolute;
                        top:50%;
                        left:0;
                        
                    }

                    .owl-next{
                        position: absolute;
                        top:50%;
                        right:0;
                    }
                } 

            }

            
        }

    }
    
}

@media(max-width:1548px){
    main , .services{
        padding: 0 20px;
      
    }
}

@media(max-width:1200px){
    main{
        .center{
            .left{
                .btn{
                    margin-top:50px;
                }
            }

            .right{
                img{
                    height: 30vh;
                }
            }
        }
    }
}

@media(max-width:900px){
    main{
        .center{
            .left{
                float: none;
                max-width: 100%;
                border-right: none;
            }
            .right{
                display: none;
            }
        }
    }
}



// main ends


// section starts

section , .team-parallax{
    background: url(../images/parallax3.jpg) 0 0 fixed;
    margin-top: -110px;
    height: 50vh;
    // position: relative;
    padding-top: 220px;
    box-sizing: border-box;

    .inner-text{
        color: #fff;
        text-align: center;
        font-size: 32px;
        text-shadow: 3px 2px #000000;
        font-weight: 700;

    }
}



// section ends


// services starts

.container{
    margin-top: 55px;

    > div{
        float: left;
        width: 25%;
        padding:0 20px;
        box-sizing: border-box;
        border-right: 2px dotted #ccc;
        text-align: center;
    }
}


.services{
    

    .container{

        > div{
      
    

            .upper-image{
                text-align: center;
                font-size: 100px;
                border-bottom: 2px solid #ccc;
                transition: 0.5s;
                -webkit-transition: 0.5s;
                
                a{
                    filter:grayscale(50%);
                    transition: 0.5s;
                    -webkit-transition: 0.5s;
                    -webkit-filter:grayscale(50%);

                    
                 
                }

                &:hover{
                    border-bottom:2px solid $primary-color;
                    a{
                        filter:grayscale(0);
                        -webkit-filter: grayscale(0);
                        color: $primary-color;
                    }
                }
            }

            .down-text{
                margin-top: 30px;
                text-align: center;
                height: 260px;
                overflow: hidden;
                
                h3{
                    
                    margin: 0;
                    color: $primary-text-color;
                }

                p{
                    margin:30px 0 0 0;
                    color: $secondary-text-color;
                
                }

            }
            
            &:last-child{
                border-right: 0;
            }
        }
            
        .btn{
            border-color: $primary-text-color;
            background: $primary-color;
            margin-top: 50px;

            &:hover{
                background: $secondary-color;
                color: $primary-text-color;
            }
        }
    }
}


@media (max-width:1020px){
    .services , .team{
        .center{
        padding-bottom: 112px;
            
        }
        .container{
            > div{
                width: 50%;
                border-right:0;

                .btn{
                    margin-bottom: 60px;
                    margin-top: 10px;
                }
            }
        }
    }
}

@media(max-width:690px){
    .services , .team{
        .container{
            > div{
                width: 100%;
            }
        }
    }
}


// serivices ends


// team-parallax starts

.team-parallax{
   background: url(../images/parallax.jpg) 0 0 fixed;
    background-size: cover;
}

// team-parallax ends


// team starts

.team{
    .container{
        > div{
            .team-image{
                width: 100%;
                height: 360px;
                background: red;
                overflow:hidden;
                position: relative;

                img{
                    height: 100%;
                    width: 100%;
                }

                .hidden-image-hover{
                    display: none;
                    height: 100%;
                    width: 100%;
                    position: absolute;
                    background: #000;
                    opacity: 0.6;
                    z-index: 900;
                    top:0;
                    left: 0;
                    padding:110px 0px 0 0px ;
                    box-sizing: border-box;
                    .links{
                        text-align: center;
                        display: inline-block;
                      
                        a{
                            float: left;
                            color: #fff;
                            font-size: 36px;
                            margin-left: 15px;

                            &:hover{
                                color: $primary-color;
                            }
                        }
                    }

                    .name{
                        margin-top: 10px;
                        text-align: center;
                        h4{
                            color: #fff;
                            font-weight: 700;
                            font-size: 22px;
                            margin:10px 0 0 0px;
                            font-family: arial;
                        }

                        h6{
                            color: #fff;
                            font-weight: 500;
                            font-size: 20px;
                            margin:10px 0 0 0px;
                        }
                    }
                    
                }

              &:hover .hidden-image-hover{
                  display: block;
              }
            }

            &:last-child{
                border-right: 0;
            }
        }
    }
}

@media(max-width:1020px){
    .team{
        .container{
            >div{
                margin-bottom: 60px;
            }
        }
    }
}


// team ends


// footer starts

footer{
    background: #2A2F33;
    margin-top: -110px;
    padding-top: 200px;
    padding-bottom: 110px;
    text-align: center;

    h3{
        margin: 0;
        color: #fff;
        letter-spacing: 2px;
        font-size: 28px;

        span{
            display: block;
            margin-top: 25px;
            color: #fff;
            font-size: 18px;
            font-weight: 600;

            small{
                font-size: 18px;
                color: $primary-color;
            }
        }
    }
    p{
        margin: 25px 0 0 0;
        color: #fff;
    }

    .bottom-links{
        margin-top: 25px;
        display: inline-block;
        a{
            float: left;
            border: 2px solid #fff;
            width: 30px;
            height: 30px;
            transform: rotate(20deg);
            text-decoration: none;
            color: #fff;
            line-height: 30px;

            &:hover{
                color: $primary-color;
            }
        }
    }

}


@media(max-width:690px){
    footer{
        .center{
          padding:0 20px;  
        }
    }
}


// footer ends

// last starts

.last{
    background: $primary-color;
    text-align: center;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

// last ends
