body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background: url(../images/wbg2.png) center center; }

img {
  display: block; }

.clearfix::after {
  content: '';
  clear: both;
  display: block; }

.center {
  max-width: 1548px;
  margin: auto; }

.btn {
  border: 1px solid #fff;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  height: 46px;
  line-height: 46px;
  padding: 0 15px;
  border-radius: 23px;
  margin-top: 10px;
  transition: 0.5s; }
  .btn:hover {
    background: #ec3a22;
    margin-top: -1px; }

.home-page {
  background: url(../images/BG.png) center center;
  height: 100vh;
  width: 100%;
  background-size: cover;
  padding-top: 30px;
  box-sizing: border-box; }
  .home-page .left {
    float: left; }
    .home-page .left img {
      height: 82px; }
  .home-page ul {
    float: right;
    margin: 0;
    padding: 0; }
    .home-page ul li {
      list-style: none;
      float: left;
      margin-left: 22px; }
      .home-page ul li a {
        display: block;
        font-size: 18px;
        color: #fff;
        font-weight: 400;
        text-decoration: none;
        height: 42px;
        line-height: 42px; }
        .home-page ul li a:hover {
          color: #ec3a22; }
      .home-page ul li .active {
        border-bottom: 2px solid #ec3a22; }
        .home-page ul li .active:hover {
          cursor: default;
          color: #fff; }
  .home-page .hidden-menu {
    float: right;
    color: #fff;
    font-size: 22px;
    display: none; }
  .home-page .outer-header {
    max-width: 1548px;
    margin: auto;
    position: relative; }
    .home-page .outer-header header {
      position: absolute;
      top: 258px;
      left: 0; }
      .home-page .outer-header header h2 {
        margin: 0;
        font-size: 48px;
        color: #fff; }

@media (max-width: 1548px) {
  .home-page nav, .home-page .outer-header header {
    padding: 0 20px; } }
@media (max-width: 690px) {
  .home-page nav ul {
    transition: 1s;
    float: none;
    position: absolute;
    top: 75px;
    left: -200%;
    width: 100%; }
    .home-page nav ul li {
      float: none;
      display: block;
      margin-left: 0;
      text-align: center; }
  .home-page nav .shown-ul {
    left: 0; }
  .home-page nav .hidden-menu {
    display: block; }
  .home-page nav .hidden-color-changed {
    color: #ed3d21; } }
@media (max-width: 450px) {
  .home-page .outer-header header {
    top: 200px; }
    .home-page .outer-header header h2 {
      font-size: 32px; } }
@media (max-width: 330px) {
  .home-page .outer-header header h2 {
    font-size: 28px; } }
main .center, .services .center, .team .center {
  position: relative;
  z-index: 10000;
  background: #eef1f2;
  box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0px 14px 20px 0px rgba(0, 0, 0, 0.8);
  margin-top: -110px;
  padding-bottom: 172px;
  padding-top: 120px; }
  main .center h2, .services .center h2, .team .center h2 {
    text-align: center;
    font-size: 42px;
    font-weight: 700;
    color: #333; }
    main .center h2 span, .services .center h2 span, .team .center h2 span {
      color: #ec3a22; }

main .center .cover {
  margin-top: 55px; }
main .center .left {
  max-width: 50%;
  border-right: 2px solid #ccc;
  padding: 0 20px;
  box-sizing: border-box;
  float: left;
  text-align: center; }
  main .center .left p {
    font-size: 16px;
    color: #727272; }
  main .center .left .btn {
    border-color: #333;
    margin-top: 114px;
    background: #ec3a22; }
    main .center .left .btn:hover {
      color: #333;
      background: #eef1f2; }
main .center .right {
  max-width: 50%;
  float: right;
  padding: 0 20px;
  box-sizing: border-box; }
  main .center .right .banner-carousel img {
    width: 100%; }
  main .center .right .banner-carousel .owl-nav button {
    width: 48px;
    height: 48px; }
    main .center .right .banner-carousel .owl-nav button span {
      font-size: 40px;
      color: #fff;
      font-weight: 400; }
    main .center .right .banner-carousel .owl-nav button:focus {
      outline: 0; }
  main .center .right .banner-carousel .owl-nav .owl-prev {
    position: absolute;
    top: 50%;
    left: 0; }
  main .center .right .banner-carousel .owl-nav .owl-next {
    position: absolute;
    top: 50%;
    right: 0; }

@media (max-width: 1548px) {
  main, .services {
    padding: 0 20px; } }
@media (max-width: 1200px) {
  main .center .left .btn {
    margin-top: 50px; }
  main .center .right img {
    height: 30vh; } }
@media (max-width: 900px) {
  main .center .left {
    float: none;
    max-width: 100%;
    border-right: none; }
  main .center .right {
    display: none; } }
section, .team-parallax {
  background: url(../images/parallax3.jpg) 0 0 fixed;
  margin-top: -110px;
  height: 50vh;
  padding-top: 220px;
  box-sizing: border-box; }
  section .inner-text, .team-parallax .inner-text {
    color: #fff;
    text-align: center;
    font-size: 32px;
    text-shadow: 3px 2px #000000;
    font-weight: 700; }

.container {
  margin-top: 55px; }
  .container > div {
    float: left;
    width: 23%;
    padding: 0 20px;
    box-sizing: border-box;
    border-right: 2px dotted #ccc;
    text-align: center; }

.services .container > div .upper-image {
  text-align: center;
  font-size: 100px;
  border-bottom: 2px solid #ccc;
  transition: 0.5s;
  -webkit-transition: 0.5s; }
  .services .container > div .upper-image a {
    filter: grayscale(50%);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -webkit-filter: grayscale(50%); }
  .services .container > div .upper-image:hover {
    border-bottom: 2px solid #ec3a22; }
    .services .container > div .upper-image:hover a {
      filter: grayscale(0);
      -webkit-filter: grayscale(0);
      color: #ec3a22; }
.services .container > div .down-text {
  margin-top: 30px;
  text-align: center;
  height: 260px;
  overflow: hidden; }
  .services .container > div .down-text h3 {
    margin: 0;
    color: #333; }
  .services .container > div .down-text p {
    margin: 30px 0 0 0;
    color: #727272; }
.services .container > div:last-child {
  border-right: 0; }
.services .container .btn {
  border-color: #333;
  background: #ec3a22;
  margin-top: 50px; }
  .services .container .btn:hover {
    background: #eef1f2;
    color: #333; }

@media (max-width: 1020px) {
  .services .center, .team .center {
    padding-bottom: 112px; }
  .services .container > div, .team .container > div {
    width: 46%;
    border-right: 0; }
    .services .container > div .btn, .team .container > div .btn {
      margin-bottom: 60px;
      margin-top: 10px; } }
@media (max-width: 690px) {
  .services .container > div, .team .container > div {
    width: 100%; } }
.team-parallax {
  background: url(../images/parallax.jpg) 0 0 fixed;
  background-size: cover; }

.team .container > div .team-image {
  width: 100%;
  height: 360px;
  background: red;
  overflow: hidden;
  position: relative; }
  .team .container > div .team-image img {
    height: 100%;
    width: 100%; }
  .team .container > div .team-image .hidden-image-hover {
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    background: #000;
    opacity: 0.6;
    z-index: 900;
    top: 0;
    left: 0;
    padding: 110px 0px 0 0px;
    box-sizing: border-box; }
    .team .container > div .team-image .hidden-image-hover .links {
      text-align: center;
      display: inline-block; }
      .team .container > div .team-image .hidden-image-hover .links a {
        float: left;
        color: #fff;
        font-size: 36px;
        margin-right: 15px; }
        .team .container > div .team-image .hidden-image-hover .links a:hover {
          color: #ec3a22; }
    .team .container > div .team-image .hidden-image-hover .name {
      margin-top: 10px;
      text-align: center; }
      .team .container > div .team-image .hidden-image-hover .name h4 {
        color: #fff;
        font-weight: 700;
        font-size: 22px;
        margin: 10px 0 0 0px; }
      .team .container > div .team-image .hidden-image-hover .name h6 {
        color: #fff;
        font-weight: 500;
        font-size: 20px;
        margin: 10px 0 0 0px; }
  .team .container > div .team-image:hover .hidden-image-hover {
    display: block; }
.team .container > div:last-child {
  border-right: 0; }

@media (max-width: 1020px) {
  .team .container > div {
    margin-bottom: 60px; } }

/*# sourceMappingURL=style.css.map */
